* {
    box-sizing: border-box;
    font-family: 'Cutive Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
}

.title {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 8vw;
    padding: 0;
}

.wavy {
    position: relative;
    font-size: 60px;
    display: inline-block;
    animation: wavy 1s;
    animation-delay: calc(.1s * var(--i));
  }
  .wavy span {
    
    
  }
  @keyframes wavy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

.title-text {
    font-size: 2.75rem;
}

.title-subtext {
    padding: 0;
    margin: 0;
}


.callout-word {
    animation: color-animation 4s linear infinite;
}
  
.callout-word-1 {
    --color-1: #724ca7;
    --color-2: #000000;
}

.callout-word-2 {
    --color-1: #000000;
    --color-2: #724ca7;
}

.callout-word-3 {
    --color-1: #724ca7;
    --color-2: #000000;
}

.callout-word-4 {
    --color-1: #000000;
    --color-2: #724ca7;
}

.callout-word-5 {
    --color-1: #724ca7;
    --color-2: #000000;
}

.callout-word-6 {
    --color-1: #000000;
    --color-2: #724ca7;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    49%   {color: var(--color-1)}
    55%   {color: var(--color-2)}
    99%   {color: var(--color-2)}
    100%  {color: var(--color-1)}

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15vh;
    margin-left: 8vw;
}

.description {
    align-items: flex-start;
    justify-content: flex-start;
    width: 60vw;
    text-align: start;
}